@import url(./global.css);


body{
    margin: auto;
    white-space: nowrap;
}

h2{color: var(--mainTextColor);
    font-family: Pretendard-Black;
}
// header --------------------------- 
header{
    height: 60px;
    background: linear-gradient(white 30px,#3373ff 30px);
    overflow: hidden;
    .top{
        width: 100%;
        height: 60px;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        z-index: 2;
        background-color: #fff;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        h1{
            width: 130px;
            transform: translateX(30%);
        }
        ul.topMenu{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li.main>a{padding: 40px 0;}
                ul.sub{
                position: absolute;
                width: 100%;
                top: 100%;
                line-height: 3em;
                color: #fff;
                font-weight: normal;

                & li:hover{font-weight: 600;
                }
                }
            
        }

            & li.main:hover>a{color: var(--mainColor);}
        }
        button.log{
            width: 5em;
            height: 35px;
            border-radius: 50px;
            border: 1.6px solid #3373ff;
            color: #3373ff;
            background-color: #fff;
            font-family: Pretendard-Regular;
            font-weight: 600;
            cursor: pointer;
            transform: translateX(-50%);
            &:hover{background-color: var(--mainColor);
                color: #fff;
            }
        }
}
// topEvent --------------------------- 
.topEvent{
    height: 45%;
    font-family: Pretendard-Medium;
    align-items: center;
    background-color: #EBF4FF;
    font-size: 14px;
    text-align: center;
    line-height: 3.8rem;
    z-index: 99;
    p{color: #444;}
    a{
        color: var(--mainColor);
        &:hover{
            font-weight: bold;
            text-decoration: underline;
        }
    }
}
// --------------------------- 
section{
    text-align: center;
}
// sect1 ---------------------------   
section#sect1{
    margin-top: 100px;
    h2{
        margin-bottom: 40px;
    }
    h3{
        line-height: 1.5em;
    }

    button.sect1Btn{
        position: relative;
        top: 5rem;
        padding: 1.2em 4em;
        border: 1.6px solid #3373ff;
        border-radius: 50px;
        background-color: var(--mainColor);
        font-family: Pretendard-Medium;
        color: #fff;
        cursor: pointer;
        z-index: 1;
        &:hover{background-color: #fff;
            color: #3373ff;
            border: 1.6px solid #3373ff;
            font-weight: 600;
        }
    }
    .sect1Ball{
        .ball1{position: absolute;
            left: 150px;
            animation-name: ball1Ani;
            animation-duration: 1.5s;
            animation-delay: .5s;
            animation-iteration-count: infinite;
        }
        .ball2{position: absolute;
            top: 550px;
            right: 350px;
            animation-name: ball2Ani;
            animation-duration: 2s;
            animation-delay: .5s;
            animation-iteration-count: infinite;
 
        }
        .ball3{position: absolute;
            top: 450px;
            right: 150px;
            animation-name: ball3Ani;
            animation-duration: 1.2s;
            animation-delay: .5s;
            animation-iteration-count: infinite;
        }
    }
}

    @keyframes ball1Ani {
        0%,100% {
            left: 150px;
            animation-timing-function: ease-out;}
        50%{transform: translateY(40%);
            animation-timing-function: ease-in;}
            }

    @keyframes ball2Ani {
        0%,100% {
            top: 550px;
            right: 350px;
            animation-timing-function: ease-out;}
        50%{transform: translateY(40%);
            animation-timing-function: ease-in;}
    }
    @keyframes ball3Ani {
        0%,100% {
            top: 390px;
            right: 150px;
            animation-timing-function: ease-out;
        }
        50%{transform: translateY(40%);
            animation-timing-function: ease-in;
            }
    }

        
    .sect1Bg{
        background-image: url(./img/sect1Line.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .sect1Mockup{
        display: flex; justify-content: center;
        img{
            position: relative;
            width: 100%;
            padding: 0 1rem;
            transform: translateY(-55%);
            }
        img.phoneAni{transform: translateY(-60%);
            // animation-name: phoneAni;
            // animation-duration: 2s;
        }
        .animate1{
            animation-name: phoneAni;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            }
        }
        @keyframes phoneAni {
            0%{transform: translateY(-60%);}
            100%{transform: translateY(-55%);}
        }
        @keyframes phoneAni2 {
            0%{transform: translateY(-55%);}
            100%{transform: translateY(-60%);}
        }
// sect2 ---------------------------   
section#sect2{
    margin-top: 20%;
    h2{font-size: var(--maxsize);
        margin-bottom: 80px;
    }
    h3{font-family: Pretendard-Bold;
        line-height: 2em;
    }
    p{font-family: Pretendard-SemiBold;
        line-height: 1.5em;
        color: #444;
    }
    img.icon{
        margin-top: 20px;
    }
    .funBtn{
        width: 810px;
        height: 405px;
        display: flex;
        cursor: pointer;
        margin: auto;
        margin-bottom: 25px;

        img.liust{
            transform: translateY(20%);
        }
        .funBtn1{
            width: 270px;
            transform: translateX(4%);
            background-image: url(./img/sect2Btn\ \(3\).svg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            img.liust1{
                top: -3%;
                position: relative;
            }
            img.liust1.active{
                animation-name: liust1Ani;
                animation-duration: 3s;
                animation-iteration-count: infinite;
            }
        }
        figure.funBtn1.active{
            margin-top: 23px;
        } 
        .funBtn2{
            width: 270px;
            background-image: url(./img/sect2Btn\ \(1\).svg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            img.liust2.active{
                animation-name: liust2Ani;
                animation-duration: .8s;
                animation-iteration-count: infinite;
            }
        }
        figure.funBtn2.active{
            margin-top: 23px;
        }
        .funBtn3{
            width: 270px;
            transform: translateX(-4%);
            background-image: url(./img/sect2Btn\ \(2\).svg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            &:hover~.funBtn1{opacity: .5;}
            &:hover+.funBtn2+.funBtn3{opacity: .5;}

            img.liust3.active{
                position: relative;
                animation-name: liust3Ani;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
            }
        }
        figure.funBtn3.active{
            margin-top: 23px;
        }
    }
    .sect2Desc{
        .desc1{
            background-image: url(./img/sect2Desc\ \(1\).svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
        .desc2{
            background-image: url(./img/sect2Desc\ \(2\).svg);
            background-repeat: no-repeat;
            background-size: contain;
        }
        .desc3{
            background-image: url(./img/sect2Desc\ \(2\).svg);
            background-repeat: no-repeat;
            background-size: contain;
            transform: translateY(-16%);
        }
        .desc4{
            background-image: url(./img/sect2Desc\ \(1\).svg);
            background-repeat: no-repeat;
            background-size: contain;
            transform: translateY(-5%);
        }
        
    }
    .tab1{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        h3{line-height: 4em;}
        p{font-size: 15px;}
        figure{width: 387px;}
    }
    .tab2{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        display: none;
        h3{line-height: 4em;}
        p{font-size: 15px;}
        figure{width: 387px;}
    }
    .tab3{
        margin: auto;
        flex-wrap: wrap;
        display: none;
        h3{line-height: 4em;}
        p{font-size: 15px;}
        figure{width: 387px;}
    }
}

@keyframes liust1Ani {
    0% {
        -webkit-transform: none;
        top: 5%;
        }
        15% {top: 5%;
        -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -3deg);
        }
        30% {top: 5%;
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        }
        45% {top: 5%;
        -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -2deg);
        transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -2deg);
        }
        60% {top: 5%;
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 1deg);
        transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 1deg);
        }
        75% {top: 5%;
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        }
        100% {top: 5%;
        -webkit-transform: none;
        transform: none;
        }
}
@keyframes liust2Ani {
    0%,100% {
        animation-timing-function: ease-out;}
    50%{transform: translateY(10%);
        animation-timing-function: ease-in;}
        }
@keyframes liust3Ani {
    0%, 100% {top: 7%;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        }
    10%, 30%, 50%, 70%, 90% {top: 7%;
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
    }
    20%, 40%, 60%, 80% {top: 7%;
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
    }
        }

@media screen and (max-width:576px) {
    header{

        .top{
            h1 img.topLogo{width: 70%;}
            ul.topMenu{display: none;}  

            button.log{
                font-size: 13px;
                }
            }
        }

    .topEvent{
        display: none;}
        
    section#sect1{
        h2{font-size: 35px;}
        h3{font: 25px;
            line-height: 1.5em;
        }
        button.sect1Btn{
            font-size: 15px;
        }
        .sect1Bg{
            height: 250px;
            transform: translateY(-45%);
        }
        .sect1Ball{display: none;}
        .sect1Mockup{
            position: relative;
          top: 200px;
            img{
                width: 100%;
                height: 470px;
                position: absolute;
                }
            img.phone1{left: -270px;}
            img.phone3{left: 270px;}
            }
    }

    section#sect2{
        margin-top: 700px;
        h2{font-size: 35px;
            margin-top: 180px;}
        p{font-size: 13px;}
        .funBtn{
            width: 500px;
            height: 250px;
            margin: auto;
            h3{font-size: 18px;}
            .funBtn1{width: 170px;
                img.icon{width: 35px;}
            }
            .funBtn2{width: 170px;
                img.icon{width: 30px;}
            }
            .funBtn3{width: 170px;
                img.icon{width: 30px;}
            }
            img.liust{
                display: none;
            }
            img.icon{
                transform: translateY(15px);
                margin-bottom: 20px;
            }
        }
        .tab1{
            width: 465px;
            margin-top: 40px;
            div{height: 225px;
                margin-bottom: 10px;
            }
            h3{
                transform: translateY(20%);
                font-size: 15px;}
            p{font-size: 13px;}
            img{padding-top: 10px;
                width: 35px;
            }
            .desc1 img{width: 45px;}
            .desc1,.desc2,.desc3,.desc4{width: 232px;}
        }
        .tab2{
            width: 465px;
            margin-top: 40px;
            div{height: 225px;
                margin-bottom: 10px;
            }
            h3{
                transform: translateY(20%);
                font-size: 15px;}
            p{font-size: 13px;}
            img{padding-top: 10px;
                width: 35px;
            }
            .desc1 img{width: 45px;}
            .desc1,.desc2,.desc3,.desc4{width: 232px;}
        }
        .tab3{
            width: 465px;
            margin-top: 40px;
            div{height: 225px;
                margin-bottom: 10px;
            }
            h3{
                transform: translateY(20%);
                font-size: 15px;}
            p{font-size: 13px;}
            img{padding-top: 10px;
                width: 35px;
            }
            .desc1 img{width: 45px;}
            .desc1,.desc2,.desc3,.desc4{width: 232px;}
        }
    }
}

@media screen and (min-width:577px) {
    header{
        width: 100%;
        position: fixed;
        z-index: 99;
        .top{
            h1 img.topLogo{width: 80%;}
            ul.topMenu{width: 280px;
                font-size: 15px;
                ul.sub{font-size: 14px;}
            } 
            button.log{
                font-size: 14px;}
        }
    }
    .topEvent{
        transform: translateY(100%);
    }
    section#sect1{
        margin-top: 180px;
        h2{font-size: 40px;}
        h3{font-size: 22px;
            line-height: 1.5em;
        }
        button.sect1Btn{
            font-size: 18px;
        }
        .sect1Bg{
            height: 350px;
            transform: translateY(-45%);
        }
        .sect1Mockup{
            position: relative;
          top: -50px;
            img{
                height: 535px;
                transform: translateY(-15%);
                }
            img.phoneAni{transform: translateY(-20%);
                }
                img.phone1{left: 0;}
            img.phone3{left: 0;}
            }
    }
    section#sect2{
        h2{font-size: 40px;}
        img.icon{margin-top: 20px;
        }
        .funBtn{
            width: 600px;
            height: 300px;
            margin-bottom: 40px;
            h3{font-size: 20px;}
            p{font-size: 13pxZZZZZ;}
            img.liust{height: 110px;}
            p{font-size: var(--minsize)}
            
        }
        .funBtn1{
            img.icon{width: 33px;}
        }
        .funBtn2{
            img.icon{width: 30px;}
        }
        .funBtn3{
            img.icon{width: 28px;}
        }
        
    }
    .tab1{
        width: 600px;
        div{width: 280px; height: 270px;
            margin-bottom: 15px;
        }
        img{
            padding-top: 15px;
            width: 45px;}
    }
    .tab2{
        width: 600px;
        div{width: 280px; height: 270px;
            margin-bottom: 15px;
        }
        img{
            padding-top: 15px;
            width: 45px;}
    }
    .tab3{
        width: 600px;
        div{width: 280px; height: 270px;
            margin-bottom: 15px;
        }
        img{
            padding-top: 15px;
            width: 45px;}
    }
}

@media screen and (min-width:1024px) {
    header{
        .top{
            
            h1 img.topLogo{width: 100%;}
            ul.topMenu{
                width: 480px;
                left: 8%;
                font-size: 16px;

                ul.sub{font-size: 15px;}
            }
            button.log{
                font-size: 15px;}
        }
    }
    section#sect1{
        margin-top: 250px;
        h2{font-size: var(--maxsize);
            margin-bottom: 40px;
        }
        h3{font-size: var(--mediumsize);
            line-height: 1.5em;
        }
        button.sect1Btn{
            font-size: 20px;
        }
        .sect1Bg{
            height: 500px;
            transform: translateY(-40%);
        }
        .sect1Mockup{
            height: 600px;
            img.phone1{left: 0;}
            img.phone3{left: 0;}
            img{
                width: 400px;
                margin-top: 230px;
                height: 770px;
                transform: translateY(-55%);
                }
            img.phoneAni{transform: translateY(-60%);
                }
            }
    }

    section#sect2{
        h3{font-size: 25px;}
        .funBtn{
            width: 810px;
            height: 405px;
            img.liust{height: 140px;}
            img.icon{padding: 20px 0;}
            .funBtn1{width: 270px;
                img.icon{width: 45px;
                }
                img.liust{height: 155px;}
            }
            .funBtn2{width: 270px;
                img.icon{width: 40px;
                }
            }
            .funBtn3{width: 270px;}
        }
        .tab1{
            width: 805px;
            h3{
                transform: translateY(20%);
                font-size: var(--mediumsize);}
            p{font-size: 15px;}
            div{height: 397px;}
            img{padding-top: 40px;
                width: 60px;
            }
            .desc1 img{width: 70px;}
            .desc1,.desc2,.desc3,.desc4{width: 387px;}
            .desc2 h3,.desc3 h3{padding-top: 15px;}
        }
        .tab2{
            width: 805px;
            h3{
                transform: translateY(20%);
                font-size: var(--mediumsize);}
            p{font-size: 15px;}
            div{height: 397px;}
            img{padding-top: 40px;
                width: 60px;
            }
            .desc1 img{width: 70px;}
            .desc1,.desc2,.desc3,.desc4{width: 387px;}
            .desc2 h3,.desc3 h3{padding-top: 15px;}
        }
        .tab3{
            width: 805px;
            h3{
                transform: translateY(20%);
                font-size: var(--mediumsize);}
            p{font-size: 15px;}
            div{height: 397px;}
            img{padding-top: 40px;
                width: 60px;
            }
            .desc1 img{width: 70px;}
            .desc1,.desc2,.desc3,.desc4{width: 387px;}
            .desc2 h3,.desc3 h3{padding-top: 15px;}
        }
        }
    }
